body {
    background-color: #171718;
    font-family: 'Alexandria', sans-serif;
}

/* Nav */
.navbar {
    padding: 2rem;
}

.navbar-brand {
    color: aliceblue;
    font-size: 30px;
    margin-left: 3px;
}

.navbar-brand:hover {
    transition: 0.8s;
    color: #44f814;
}

.navbar-brand:focus {
    color: aliceblue;
} 

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    transition: 0.4s;
    color: #44f814
}

.nav-link:focus {
    color: aliceblue;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

.navbar-toggler {
    color: aliceblue;
}

.nav-item {
    margin: 20px;
}

/* Article Present */
#present-me {
    margin: 50px;
}

#photo-perfil {
    border-radius: 50%;
    border: 2vh solid rgb(24, 24, 24);
}

#author {
    color: aliceblue;
}

#profesion {
    color: rgb(104, 104, 104);
    font-size:medium;
}

.btn-success {
    background-color: #46f8149a;
}

@media screen and (max-width: 540px) {
    .colrev {
        flex-direction: column-reverse !important;
    }

    #text-present {
        text-align: center;
    }

    #photo-perfil {
        width: 250px;
        border-radius: 50%;
        border: 2vh solid rgb(24, 24, 24);
    }
}

/* Article About Me */

#about-me {
    color: aliceblue;
}

#about-me-p {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

.bi {
    font-size: 35px;
    color: #46f8149a;
}

h6 {    
    color: aliceblue;
}

#users-p p{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

a:visited, a:link
{
    color: aliceblue;
    text-decoration: none; 
    decoration: none; 
}