body {
    background-color: #171718;
    font-family: 'Alexandria', sans-serif;
}

/* Nav */
.navbar {
    padding: 2rem;
}

.navbar-brand {
    color: aliceblue;
    font-size: 30px;
    margin-left: 3px;
}

.navbar-brand:hover {
    transition: 0.8s;
    color: #44f814;
}

.navbar-brand:focus {
    color: aliceblue;
} 

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    transition: 0.4s;
    color: #44f814
}

.nav-link:focus {
    color: aliceblue;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

.navbar-toggler {
    color: aliceblue;
}

.nav-item {
    margin: 20px;
}

/* Article Present */
#present-me {
    margin: 50px;
}

#photo-perfil {
    border-radius: 50%;
    border: 2vh solid rgb(24, 24, 24);
}

#author {
    color: aliceblue;
}

#profesion {
    color: rgb(104, 104, 104);
    font-size:medium;
}

.btn-success {
    background-color: #46f8149a;
}

/* Article 540px */

@media screen and (max-width: 540px) {
    .colrev {
        flex-direction: column-reverse !important;
    }

    #text-present {
        text-align: center;
    }

    #photo-perfil {
        width: 250px;
        border-radius: 50%;
        border: 2vh solid rgb(24, 24, 24);
    }

    #users-p {
        display: flex;
        flex-direction: column;
    }

    #boton {
        font-size: xx-small;
    }

    #container-skills h3 {
        margin: 10px;
    }
}

/* Article About Me */

#about-me {
    color: aliceblue;
}

#about-me-p {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

.bi {
    font-size: 35px;
    color: #46f8149a;
}

h6 {    
    color: aliceblue;
}

#users-p p {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

a:visited, a:link {
    color: aliceblue;
    text-decoration: none; 
}

/* Article What I do */

#what-i-do {
    margin-top: 40px;
    color: aliceblue;
}

/* Article My Skills */

#my-skills {
    color: aliceblue;
}

#box-skills {
    margin-top: 130px;
}

#container-skills {
    background-color: rgba(39, 39, 39, 0.493);
    border: 2px solid rgb(39, 39, 39);
    height: 150px;
    justify-content: center;
    align-content: center;
}

#container-skills h3 {
    text-shadow:    1px  0px 0px rgb(0, 0, 0),
                    0px  1px 0px rgb(0, 0, 0),
                    -1px  0px 0px rgb(0, 0, 0),
                    0px -1px 0px rgb(0, 0, 0);
    color: #46f8149a;
    margin-bottom: 0;
}

#container-skills h3:hover {
    transition: 0.4s;
    color: rgba(0, 128, 0, 0.616);
}

/* Article Get in touch */

#get-in-touch {
    color: aliceblue;
}

#box-get-in-touch {
    margin-top: 140px;
}

.input-text {
    color: aliceblue;
    background-color: #171718;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(104, 104, 104);
}

.input-text-area {
    color: aliceblue;
    background-color: #171718;
    width: 80%;
    outline: none;
    border: 1px solid rgb(104, 104, 104);
    height: 100px;
}

#boton {
    width: 20%;
}